tiktoken==0.7.0
streamlit==1.35.0
streamlit-extras==0.4.3
python-dotenv==1.0.0
PyPDF2==3.0.1
openai==1.32.0
langchain==0.2.3
langchain-community==0.2.4
faiss-cpu==1.7.4
altair==4.0.0
langchain-openai==0.1.8
langchain-groq==0.1.5
langchain-huggingface==0.0.3